<h1>All Profiles</h1>

<!-- Goes through each profile -->
<% @profiles.each do |profile| %>
	<!-- Single profile partial -->
	<%= erb :'profiles/_profile', locals: { profile: profile } %>
	<hr>
<% end %>

<!-- For the page numbers -->
<%= will_paginate @profiles, renderer: BootstrapPagination::Sinatra %>