<!-- New Account Registration -->
<h1>Registration Page</h1>
<form action="/register" method="post" class="form-horizontal">

  <!-- Essential Account Information -->
  <div class="form-group form-group-lg">
    <label class="col-xs-12 col-sm-3 col-sm-offset-1 control-label" for="user_username">Username</label>
    <div class="col-xs-12 col-sm-5">
      <input type="text" class="form-control" id="user_username" name="user[username]" required>
    </div>
  </div>

  <div class="form-group form-group-lg">
    <label class="col-xs-12 col-sm-3 col-sm-offset-1 control-label" for="user_email">Email</label>
    <div class="col-xs-12 col-sm-5">
      <input type="email" class="form-control" id="user_email" name="user[email]" required>
    </div>
  </div>

  <div class="form-group form-group-lg">
    <label class="col-xs-12 col-sm-3 col-sm-offset-1 control-label" for="user_password">Password</label>
    <div class="col-xs-12 col-sm-5">
      <input type="password" class="form-control" id="user_password" name="user[password]" required>
    </div>
  </div>

  <!-- Profile Information -->

  <%= erb :'users/_profile_form' %>

  <div class="col-xs-12 col-sm-offset-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
