<!-- All diary entries -->

<h1>Diary Entries</h1>

<ul class="list-group">
	<% @diary_entries.each do |diary_entry| %>
  	<li class="list-group-item"><a href="/diaries/<%= diary_entry.diary.id %>/diary_entries/<%= diary_entry.id %>"><%= diary_entry.title %></a></li>
  <% end %>
</ul>