<h3>Corrections</h3>

<div id="corrections-container">
<% @diary_entry.corrections.sort_by { |correction| correction.created_at }.each do |correction| %>
  <%= erb :'diary_entries/_entry', locals: { correction: correction } %>
<% end %>
</div>
