<h3>Corrections</h3>

<div id="corrections-container">
<% @diary_entry.corrections.sort_by { |correction| correction.created_at }.each do |correction| %>
  <%= erb :'corrections/show', locals: { correction: correction,
          commentable: correction } %>
<% end %>

</div>
